In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [4]:
pip install -U scikit-learn  #### MAPE implemented in lasted version of the SKLearn

Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error, mean_squared_error, r2_score

In [6]:
db_path = "/Applications/Work Space/Python Work Space/python_forcesting/SPY.csv"

In [8]:
df = pd.read_csv(db_path, index_col="Date", parse_dates=True)
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800
...,...,...,...,...,...,...
2018-12-21,246.740005,249.710007,239.979996,240.699997,234.845886,255345600
2018-12-24,239.039993,240.839996,234.270004,234.339996,228.640564,147311600
2018-12-26,235.970001,246.179993,233.759995,246.179993,240.192596,218485400
2018-12-27,242.570007,248.289993,238.960007,248.070007,242.036667,186267300
2018-12-28,249.580002,251.399994,246.449997,247.750000,241.724442,153100200

In [10]:
df["ClosePrediction"] = df["Close"].shift(1) # Shift the close values and add the new column, may be we are use to closeprediction as label ( i don't know)
df

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002
...,...,...,...,...,...,...,...
2018-12-21,246.740005,249.710007,239.979996,240.699997,234.845886,255345600,247.169998
2018-12-24,239.039993,240.839996,234.270004,234.339996,228.640564,147311600,240.699997
2018-12-26,235.970001,246.179993,233.759995,246.179993,240.192596,218485400,234.339996
2018-12-27,242.570007,248.289993,238.960007,248.070007,242.036667,186267300,246.179993
2018-12-28,249.580002,251.399994,246.449997,247.750000,241.724442,153100200,248.070007

In [ ]:
y_true = df[1:]["Close"]
y_pred = df[1:]["ClosePrediction"]

### SSE  (Sum of the Squared Error)

In [12]:
(y_true - y_pred).dot(y_true - y_pred)

6330.374289492605

### MSE  (Mean Squared Error)

In [18]:
mean_squared_error(y_true, y_pred)

2.798573956451196

In [19]:
(y_true - y_pred).dot(y_true - y_pred) / len(y_true)

2.798573956451196

### RMSE (Root Mean Squared Error)

In [29]:
np.sqrt((y_true - y_pred).dot(y_true - y_pred) / len(y_true))

1.672893886787562

### MAE (Mean Absolute Error)

In [30]:
mean_absolute_error(y_true, y_pred)

1.1457559803120336

### R^2

In [34]:
# wow that is a good prediction score

r2_score(y_true, y_pred)

0.9989603259063914

### MAPE (Mean Absolute Percantage Error)

In [32]:
mean_absolute_percentage_error(y_true, y_pred)

0.006494073151422373

### sMAPE

In [36]:
def sMAPE(y_true, y_pred):
    numerator = np.abs(y_true - y_pred)
    denominator = (np.abs(y_true) + np.abs(y_pred)) / 2
    ratio = numerator / denominator
    return ratio.mean()

In [37]:
sMAPE(y_true, y_pred)

0.006491365814068417